@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body{
    margin: 0;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;   
}

h1{
    font-size: 2rem;
}

nav{
    padding: 0.6rem;
    box-shadow: 1px 1px 5px black;
}

.bday{
    margin-top: 2rem;
    padding: 1.5rem;
    font-size: 1.3rem;
}

.bday input{
    border: 2px solid red;
    padding: 0.3rem 0.9rem;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 1rem;
}

.luckyNo{
    padding: 0.5rem;
    font-size: 1.3rem;

}

.luckyNo input{
    border: 2px solid blue;
    padding: 0.3rem 0.1rem;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}

button{
    border: 1px solid black;
    font-family: 'Noto Sans', sans-serif;
    padding: 0.4rem 1.3rem;
    background-color: white;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
}

p{
    font-size: 1.5rem;
    font-weight: bold;
}

footer{
    margin-top: 7rem;
}

footer a{
    margin: 20px;
}